*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/

## Environment normalisation:
/.bundle/
/lib/bundler/man/

Gemfile.lock
.ruby-version

/.env

# Test client
/test_client/data/certs.rb
/test_client/data/params.rb
/test_client/data/payload.xml
/test_client/log/
