*.gem
*.rbc
.bundle
.config
coverage
Gemfile.lock
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor
lib/debug
lib/CSR.csr
lib/signing_key.pem

# YARD artifacts
.yardoc
_yardoc
doc/

# ms-crap
*~

# osx-crap
.DS_Store

#Coverage
coverage