RANDFILE               = $ENV::HOME/.rnd

[ req ]
default_bits           = 1024
default_keyfile        = cert_req.der
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = yes

[ req_distinguished_name ]
commonName                     = Common Name (eg, COMPANY/YOUR name)
commonName_max                 = 64
commonName_default             = Pertti

serialNumber                   = Customer ID (ID from bank)
serialNumber_default           = 11111111

countryName                    = Country Name (2 letter code)
countryName_default            = FI
countryName_min                = 2
countryName_max                = 2

[ req_attributes ]